In [3]:
#Q1)
import pandas as pd
print(pd.__version__)

0.25.1

In [10]:
#Q2)
import numpy as np
arr = np.array([2,4,6,8,])
pand = pd.Series(arr)
print(pand)

0    2
1    4
2    6
3    8
dtype: int32

In [12]:
#Q3)
data = {'Product': ['Computer','Printer','Monitor','Desk','Phone'],
          'Price': [1200,250,400,700,350]
        }

df = pd.DataFrame(data, columns = ['Product','Price'], index = ['Item_1','Item_2','Item_3','Item_4','Item_5'])

print(df)

         Product  Price
Item_1  Computer   1200
Item_2   Printer    250
Item_3   Monitor    400
Item_4      Desk    700
Item_5     Phone    350

In [20]:
#Q4)
import seaborn as sns
mpeg = sns.load_dataset('mpg')

In [21]:
mpeg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [22]:
#Q5)
mpeg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [25]:
#Q6)
mpeg['origin'].value_counts()
mpeg['origin'] == 'usa'

0       True
1       True
2       True
3       True
4       True
       ...
393     True
394    False
395     True
396     True
397     True
Name: origin, Length: 398, dtype: bool

In [26]:
mpeg[mpeg['origin'] == 'usa']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10